.home-back {
  -fx-background-color: #383838;
}

.home-button {
  -fx-background-color: transparent;
  -fx-border-color: #A0A0A0;
  -fx-border-style: solid;
  -fx-border-width: 3px;
  -fx-border-radius: 50px;  
}

.home-button:hover {
  -fx-background-color: #A0A0A0;
  -fx-border-color: #383838;
}

/* Hamburger Style */

.jfx-hamburger {
    -fx-spacing: 5;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color: #FFF;
    -fx-background-radius: 5px;
}

/* ListView Style */

.jfx-list-cell:selected {
	-fx-background-color: #3d8c91;
}
	
.jfx-list-cell {
	-fx-background-insets: 0.0;
}

.jfx-list-cell .jfx-rippler {
	-fx-rippler-fill: BLUE;
}

.jfx-list-cell:hover{
	-fx-background-color: #1bd79c;
}

.jfx-list-view {
	-fx-background-insets: 0;
	-fx-cell-vertical-margin: 10.0;
	-fx-vertical-gap: 10;
}
